body {
	background-color: #28292b;
	padding: 0;
	margin: 0;
	font-family: 'Nunito', sans-serif;
	overflow: hidden;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.loading-screen {
	color: #6b6b6b;
	font-size: 40px;
	align-items: center;
	display: flex;
	justify-content: center;
	flex: 1;
}

.document-scope {
	flex: 1;
	display: flex;
	flex-direction: row;
	min-height: 0px;
}

.document-scroll {
	flex: 1;
	overflow-y: auto;
}

.document {
	color: #dddddd;
	font-family: 'Inconsolata', monospace;
	font-size: 14px;
	display: flex;
	flex-direction: row;
	background-color: #28292b;
	min-height: 100%;
}

.document>.line-numbers {
	background-color: #28292b;
	color: #5a5a5a;
	border-right: 1px solid #1f1f1f;
	text-align: right;
	padding: 5px;
	pointer-events: none;
}

.document>.document-content {
	position: relative;
	margin: 5px;
	flex: 1;
}

.document>.document-content>.lines {
	pointer-events: none;
	min-width: 100%;
}

.document>.document-content>.lines>.line {
	display: flex;
	flex-direction: row;
	white-space: pre;
	margin-right: 30px;
}

.document>.document-content .carets {
	position: absolute;
	width: 1ch;
	pointer-events: none;
	top: 0;
}

.document>.document-content .carets>.caret {
	position: absolute;
	width: 100%;
	height: 100%;
}

.document>.document-content .carets>.caret>.caret-range {
	position: absolute;
	width: 100%;
	height: 100%;
	min-width: 2px;
	height: 100%;
	bottom: 0;
	opacity: 0.3;
}

.document>.document-content>.lines>.line, .document>.document-content .carets, .document>.line-numbers>.line-number {
	height: 1.2em;
}

.document>.document-content>.input-panel {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.document>.document-content>.input-panel>.input-interceptor {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	outline: none;
}

.document>.document-content>.input-panel>.character-template {
	height: 1.2em;
	width: 1ch;
	opacity: 0;
	pointer-events: none;
}