body {
	background-color: #28292b;
	padding: 0;
	margin: 0;
	font-family: 'Nunito', sans-serif;
	overflow: hidden;
}

.loading-screen {
	color: #6b6b6b;
	font-size: 40px;
	align-items: center;
	display: flex;
	justify-content: center;
	flex: 1;
}

.document-scope {
	flex: 1;
	display: flex;
	flex-direction: row;
}

.document-scroll {	
	flex: 1;
	overflow-y: auto;
}

.document {
	color: #dddddd;
	font-family: 'Inconsolata', monospace;
	font-size: 14px;
	display: flex;
	flex-direction: row;
	background-color: #28292b;
	min-height: 100%;
}

.document .line-numbers {
	background-color: #28292b;
	color: #5a5a5a;
	border-right: 1px solid #1f1f1f;
	text-align: right;
	padding: 5px;
}

.document .document-content {
	position: relative;
	margin: 5px;
	flex: 1;
}

.document .document-content .lines {
	pointer-events: none;
	user-select: none;
}

.document .document-content .lines .line {
	display: flex;
	flex-direction: row;
	white-space: pre;
	tab-size: 4;
}

.document .document-content .carets {
	position: absolute;
	width: 1ch;
}

.document .document-content .carets .caret {
	position: absolute;
	width: 2px;
	height: 1em;
	bottom: 0;
	margin: 0 -1px;
}

.document .document-content .lines .line, .document .document-content .carets, .document .line-numbers .line-number {
	height: 1.2em;
}

.document .document-content .input-panel {
	position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.document .document-content .input-panel > .input-interceptor {
	position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
	outline: none;
}

.document .document-content .input-panel > .character-template {
	height: 1.2em;
	width: 1ch;
}

.document .document-content .input-panel > .carets {
	opacity: 0.25;
}