.workspace {
	background-color: #28292b;
	display: flex;
	flex-direction: column;
	width: 100vw;
	height: 100vh;
}

.workspace-bar {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	border-bottom: 1px solid #1f1f1f;
}

.workspace-bar-items {
	display: flex;
	flex-direction: row;
}

.workspace-item {
	display: flex;
	color: white;
	padding: 2px 5px;
	font-size: 15px;
	margin: 2px 2px 0 2px;
	background: #323335;
}

.workspace-item:hover {
	background-color: #232425;
}

.workspace-item.selected {
	background: #1f1f1f;
}

.workspace-item>.select-button {
	cursor: pointer;
}

.workspace-item>.close-button {
	opacity: 0.5;
	margin-left: 10px;
	cursor: pointer;
}

.workspace-item>.close-button:hover {
	opacity: 1;
	color: darkred;
}

.workspace-item.new {
	cursor: pointer;
	user-select: none;
	min-height: 20px;
}

.workspace-item.new>.file-name-input {
	width: 0;
	transition-duration: 0.2s;
	padding: 0;
	border: none;
	background: #d8d8d8;
	outline: none;
}

.workspace-item.new:hover>.file-name-input {
	width: 200px;
	margin-right: 5px;
	padding: 0 5px;
}

.workspace-item.new>input[type="submit"] {
	border: none;
	background: none;
	padding: 0 0px;
	margin: 0;
	color: white;
	cursor: pointer;
	outline: none;
}

.workspace-item.new:hover>input[type="submit"] {
	color: rgb(67, 99, 187);
}

.workspace-bar-info {
	display: flex;
	color: #4a4a4a;
	flex-direction: row;
	align-items: center;
}

.workspace-bar-info>.me {
	font-size: 17px;
	position: relative;
}

.workspace-bar-info>.me>.me-popup {
	width: 150px;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 3;
	opacity: 0;
	transition-duration: 1s;
	pointer-events: none;
	box-shadow: 0 0 10px 0px #131313;
	background: #1f1f1f;
	display: flex;
    flex-direction: column;
}

.workspace-bar-info>.me:hover>.me-popup {
	width: 150px;
	position: absolute;
	z-index: 3;
	opacity: 1;
	top: 100%;
}

.workspace-bar-info>.me>.me-popup>img {
	width: 150px;
}

.workspace-bar-info>.me>.me-popup>span {
	width: 100%;
    text-align: center;
    font-size: 13px;
    margin: 10px 0 0 0;
	color: white;
}

.workspace-bar-info>a {
	text-decoration: node;
	color: inherit;
}

.workspace-bar-info>* {
	margin-right: 7px;
}